<%- include('header'); -%>
<div class="text-center text-white weather">
<p style="font-size:30px;" >Weather condition is :  <%- weatherCondition -%></p>
    <h3 class="h">The Temperature on <%- query-%> is : <%- temp -%> degree</h3>
  <image src=" <%- imageUrl -%>" class="weatherIcon">

</div>



<%- include('footer'); -%>
